<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Du lịch Việt </title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <%- include('header'); -%>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <%- include('carousel') -%>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Mag Posts Area Start ##### -->
    <section class="mag-posts-area d-flex flex-wrap">

        <!-- >>>>>>>>>>>>>>>>>>>>
         Post Left Sidebar Area
        <<<<<<<<<<<<<<<<<<<<< -->
        <%- include('most-popular') -%>

        <!-- >>>>>>>>>>>>>>>>>>>>
             Main Posts Area
        <<<<<<<<<<<<<<<<<<<<< -->
        <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
            <!-- Trending Now Posts Area -->
            <div class="trending-now-posts mb-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>MỚI</h5>
                </div>

                <div class="trending-post-slides owl-carousel">
                    <!-- Single Trending Post -->
                    <% for(let i=0;i<3;i++){%>
                        <div class="single-trending-post">
                            <img src="<%=newTopic[i].largeImageUrl%>" alt="">
                            <div class="post-content">
                                <a href="#" class="post-cata"><%=newTopic[i].location%></a>
                                <a href="/<%=newTopic[i]['_id']%>" class="post-title"><%=newTopic[i].title%></a>
                            </div>
                        </div>
                    <% } %>  
                </div>
            </div>

            <!-- Feature Video Posts Area -->
            <div class="feature-video-posts mb-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>Featured Videos</h5>
                </div>

                <div class="featured-video-posts">
                    <div class="row">
                        <div class="col-12 col-lg-7">
                            <!-- Single Featured Post -->
                            <div class="single-featured-post">
                                <!-- Thumbnail -->
                                <div class="post-thumbnail mb-50">
                                    <img src="<%=newTopic[10].largeImageUrl%>" alt="">
                                </div>
                                <!-- Post Contetnt -->
                                <div class="post-content">
                                    <div class="post-meta">
                                        <a href="#"><%=newTopic[10].location%></a>
                                    </div>
                                    <a href="/<%=newTopic[10]._id%>" class="post-title"><%=newTopic[10].title%></a>
                                    <p><%=newTopic[10].sortContent%></p>
                                </div>
                                <!-- Post Share Area -->
                               
                            </div>
                        </div>

                        <div class="col-12 col-lg-5">
                            <!-- Featured Video Posts Slide -->
                            <div class="featured-video-posts-slide owl-carousel">

                                <div class="single--slide">
                                    <% for(let i=11;i<15;i++) { %> 
                                        <div class="single-blog-post d-flex style-3">
                                            <div class="post-thumbnail">
                                                <img src="<%=newTopic[i].largeImageUrl%>" alt="">
                                            </div>
                                            <div class="post-content">
                                                <a href="/<%=newTopic[i]['_id']%>" class="post-title"><%=newTopic[i].title%></a>
                                                
                                            </div>
                                        </div>
                                    <% } %> 
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Most Viewed Videos -->


        </div>

        <!-- >>>>>>>>>>>>>>>>>>>>
         Post Right Sidebar Area
        <<<<<<<<<<<<<<<<<<<<< -->
        <%- include('right-sidebar') -%>
        <div class="col-xl-2"></div>
        <div class="col-12 col-xl-8">
                    <!-- About Us Content -->
                    <div class="about-us-content bg-white mb-30 p-30 box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>About Us</h5>
                        </div>
                        <p>Hue University of Scient</p>
                        <!-- Team Member Area -->
                        <div class="section-heading mt-30">
                            <h5>Our Team</h5>
                            <br>
                            <ul>
                                <li><i class="fa fa-check"></i> Hồ Khắc Thiện Huy</li>
                                <li><i class="fa fa-check"></i> Đặng Hữu Thiện Phong</li>
                                <li><i class="fa fa-check"></i> Hoàng Lộc</li>
                            </ul>
                        </div>
                    
                    </div>
                </div>

    </section>

    
    <!-- ##### Mag Posts Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <%- include('footer'); -%>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>